{% load static from staticfiles %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Música Para Todos</title>
    <link rel="stylesheet" href="{% static 'app_aulaMusica/css/main.css' %}">
    <link rel="stylesheet" href="{% static  'app_aulaMusica/css/bootstrap.min.css' %}">

</head>

<body>

    {% block content %}


    {% endblock %}

<footer class=" mt-5 p-2 border text-center">
    <div>
        <p>Criado por Tiago Roberto Diana</p>
    </div>
</footer>

<script src="{% static 'app_aulaMusica/js/jquery-3.4.1.min.js' %}" ></script>
<script src="{% static 'app_aulaMusica/js/bootstrap.min.js' %}"></script>
</body>
</html>